<div class="content">
  <h2>Ranking - {{ ranking.name }}</h2>
</div>

<!--<span (click)="add()" class="btn-add"><i class="fa fa-plus-circle"></i> Adicionar ranking</span>-->

<div class="content" *ngIf="loading">
  Carregando...
</div>

<div class="content row">

  <span class="id"># {{ ranking?.id }}</span>
  <div class="input">
    <span>Nome</span><input type="text" [(ngModel)]="ranking.name" (ngModelChange)="changed(ranking)" minlength="2"/>
  </div>

</div>
<span (click)="choosingPlayer = true" class="btn-add" *ngIf="!choosingPlayer"><i class="fa fa-plus-circle"></i> Adicionar jogador</span>
<span (click)="choosingPlayer = false" class="btn-add" *ngIf="choosingPlayer"><i class="fa fa-caret-left"></i> Cancelar</span>
<div class="content" *ngIf="!choosingPlayer">
  <table class="ranking" *ngIf="ranking.rankingEntries != undefined && ranking.rankingEntries.length > 0">
    <thead>
      <tr>
        <th>Jogador</th>
        <th>Vitorias</th>
        <th>Partidas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rankingEntry of ranking.rankingEntries; let i = index">
        <td>
          {{ rankingEntry.player?.name }}
        </td>
        <td>
          <i class="fa fa-plus-circle" (click)="incrementVictories(rankingEntry, i)"></i>
          <i class="fa fa-minus" (click)="decreaseVictories(rankingEntry, i)"></i>
          {{rankingEntry.victories}}
        </td>
        <td>
          <i class="fa fa-plus-circle" (click)="incrementMatches(rankingEntry, i)"></i>
          <i class="fa fa-minus" (click)="decreaseMatches(rankingEntry, i)"></i>
          {{ rankingEntry.matches}}
        </td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="ranking.rankingEntries == undefined || ranking.rankingEntries.length == 0">
    Sem jogadores cadastrados
  </span>
</div>

<div class="content" *ngIf="choosingPlayer">
  <h3>Selecionar jogador</h3>
</div>

<div class="content choice" [hidden]="!choosingPlayer || players == undefined || players.length === 0" *ngFor="let player of players" (click)="createRankingEntry(player)">
  <span>{{ player.name }}</span>
</div>

<div class="content" [hidden]="!choosingPlayer && players.length === 0">
  Sem jogadores
</div>
