<div class="content">
  <h2>Rankings</h2>
</div>

<span (click)="add()" class="btn-add"><i class="fa fa-plus-circle"></i> Adicionar ranking</span>

<div class="content" *ngIf="loading">
  Carregando...
</div>

<div class="content row" *ngFor="let ranking of rankings">

  <span class="id"># {{ ranking.id }}</span>
  <div class="input">
    <span>Nome</span><input type="text" [(ngModel)]="ranking.name" (blur)="changed(ranking)" minlength="2"/>
  </div>
  <a [routerLink]="['..', ranking.id, 'detalhes']" *ngIf="ranking.id != undefined"><i class="fa fa-search btn-info" title="Visualizar ranking"></i></a>
  <i class="fa fa-trash btn-remove" (click)="delete(ranking)" title="Remover" *ngIf="ranking.id != undefined"></i>

</div>
