@import "../assets/styles/variables";


.main-container {
  margin: auto;
  width: $main-container-width;
  //background-color: white;
}

nav {
  padding: 0 calc((100%  - #{$main-container-width}) / 2);
  background-color: #9daf9d;
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 20px;
        text-decoration: none;
        color: white;
        &.active {
          background-color: #a3e2a3;
        }
      }
    }
  }
}

@media (max-width: $main-container-width) {
  .main-container {
    width: auto;
  }
  nav {
    padding: inherit;
  }
}
