.content {
  margin: 10px 0;
  padding: 20px;
  background-color: white;
  border: 1px solid #d7e4de;

  .id {
    padding: 15px;
    width: 65px;
  }

  .input {
    display: flex;
    flex-direction: column;
    span {
      padding: 5px;
    }
    input {
      padding: 15px;
      width: 200px;
    }
  }

  .fa-trash {
    font-size: 1.5em;
  }

}

.row {
  display: flex;
  align-items: center;
  * {
    margin-right: 20px;
  }
}

.btn-add, .btn-info, .btn-remove {
  cursor: pointer;
  color: black;
}
