<div class="content">
  <h2>Scoreboard - {{ scoreboard.name }}</h2>
</div>

<!--<span (click)="add()" class="btn-add"><i class="fa fa-plus-circle"></i> Adicionar scoreboard</span>-->

<div class="content" *ngIf="loading">
  Carregando...
</div>

<div class="content row">

  <span class="id"># {{ scoreboard?.id }}</span>
  <div class="input">
    <span>Nome</span><input type="text" [(ngModel)]="scoreboard.name" (ngModelChange)="changed(scoreboard)" minlength="2"/>
  </div>

</div>
<span (click)="choosingPlayer = true" class="btn-add" *ngIf="!choosingPlayer"><i class="fa fa-plus-circle"></i> Adicionar jogador</span>
<span (click)="choosingPlayer = false" class="btn-add" *ngIf="choosingPlayer"><i class="fa fa-caret-left"></i> Cancelar</span>
<div class="content" *ngIf="!choosingPlayer">
  <table class="scoreboard" *ngIf="scoreboard.scoreEntries != undefined && scoreboard.scoreEntries.length > 0">
    <thead>
      <tr>
        <th>Jogador</th>
        <th>Vitorias</th>
        <th>Partidas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scoreEntry of scoreboard.scoreEntries">
        <td>
          {{ scoreEntry.player?.name }}
        </td>
        <td>
          <i class="fa fa-plus-circle"></i> <i class="fa fa-minus"></i> {{scoreEntry.victories}}
        </td>
        <td>
          <i class="fa fa-plus-circle"></i> <i class="fa fa-minus"></i> {{ scoreEntry.matches}}
        </td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="scoreboard.scoreEntries == undefined || scoreboard.scoreEntries.length == 0">
    Sem jogadores cadastrados
  </span>
</div>

<div class="content" *ngIf="choosingPlayer">
  <h3>Selecionar jogador</h3>
</div>

<div class="content choice" [hidden]="!choosingPlayer" *ngFor="let player of players" (click)="createScoreEntry(player)">
  <span>{{ player.name }}</span>
</div>
